{% extends 'base.html' %}
{% block body %}
<style>
 .bradcam_bg_1 {
  background-image: url(../static/img/banner/bradcam.jpg);
}
</style>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">SE Assistant</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find Solution</h3>
                           <!--- <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide to student solve thier solutions by chatbot and more</p>-->
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="#" class="boxed-btn3">Talk to Assistant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="img/banner/illustration.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->



    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Course</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                  {% for courses in course %}
                <div class="col-lg-4 col-xl-3 col-md-8">
                    <div class="single_catagory">
                        <a href="/course/{{courses.pk}}"><h4>{{courses.title}}</h4></a>
                          <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-book"></i>{{courses.credit}} credit</a></li>
                                    <li><a href="#"><i class="fa fa-graduation-cap"></i>{{courses.semester_type}}</a></li>
                                     <li><a href="#"><i class="fa fa-tasks"></i>{{courses.diffcality_type}}</a></li>
                          </ul>
                    </div>
                </div>
                  {% endfor %}


            </div>
        </div>
    </div>


    <!-- featured_instrauctors_area_start  -->
   <section id="Instructors">
    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Instructors</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                        {% for contacts in contact %}
                        <div class="single_candidates text-center">

                            <h4>{{contacts.name}}</h4>
                            <p>{{contacts.office}}</p>
                            <a href="mailto:{{contacts.email}}"> Send Email</a>
                        </div>
                  {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- featured_candidates_area_end  -->



    <!-- job_searcing_wrap  -->
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>Be the teacher.</h3>
                        <p>We provide online instant cash loans with quick approval </p>
                        <a href="{% url 'learn:learn' %}" class="boxed-btn3">Upload Now</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>Share Your Projects</h3>
                        <p>We provide online instant cash loans with quick approval </p>
                        <a href="{% url 'learn:learn' %}" class="boxed-btn3">Upload Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



  {% endblock body %}