{% extends 'base.html' %}
{% load embed_video_tags %}
{% block body %}
<style>
 .bradcam_bg_1 {
  background-image: url(../../static/img/banner/bradcam.jpg);
}
</style>

  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>single blog</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding center">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="card-img rounded-0" src="/media/{{learn.image}}" width="400px" height="400px" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{learn.title}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-book"></i>{{learn.category}}</a></li>
                           <li><a href="#"><i class="fa fa-graduation-cap"></i>{{learn.semester_type}}</a></li>
                          <li><a href="#"><i class="fa fa-tasks"></i>{{learn.diffcality_type}}</a></li>
                     </ul>
                     <p class="excert">{{learn.description}}</p>
                     <p><a href="{{learn.urlLearn}}">{{learn.urlLearn}}</a></p>

                 <video class="embed-responsive embed-responsive-16by9" controls="controls" preload="preload">
                     <source src="/media/{{learn.videofile}}" type="video/mp4" />
                 </video>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul>
                  </div>

            </div>



         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

  {% endblock body %}