{% extends 'base.html' %}
{% block body %}
<style>
 .bradcam_bg_1 {
  background-image: url(../static/img/banner/bradcam.jpg);
}
</style>

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>faculty member</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- featured_candidates_area_start  -->
    <div class="featured_candidates_area candidate_page_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:wsalmukadi@uj.edu.sa">
                            <h4>
                                Dr. Wafaa Suleiman Al-Makadi
                            </h4>
                        </a>
                        <p>wsalmukadi@uj.edu.sa</p>
                        <p>247 office</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:hhalahamade@uj.edu.sa">
                            <h4>Dr.Haneen Hassan Al Ahmadi</h4></a>
                        <p>hhalahamade@uj.edu.sa</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:azzainol@uj.edu.sa">
                            <h4>
                                Dr. Azida Zniol
                            </h4>
                        </a>
                        <p>azzainol@uj.edu.sa</p>
                        <p>222</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:mmaljohani@uj.edu.sa">
                            <h4>
                                Dr.Maha Mohammed Al-Juhani
                            </h4>
                        </a>
                        <p>mmaljohani@uj.edu.sa</p>
                        <p>245 office</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:alouinadia@uj.edu.sa">
                            <h4>Dr. Nadia Al Alawi</h4>
                        </a>
                        <p>alouinadia@gmail.com</p>
                        <p>233</p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:hachichahelaa@uj.edu.sa">
                            <h4>Dr. Hala Ahmed Hashisha</h4>
                        </a>
                        <p>hachichahelaa@gmail.com</p>
                        <p>233</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:hbismail@uj.edu.sa">
                            <h4>a. Hadeel Bakr Ismail </h4>
                        </a>
                        <p>hbismail@uj.edu.sa</p>
                        <p>252</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:ammistadi@uj.edu.sa">
                            <h4>a. Asama Majid Mostadi</h4>
                        </a>
                        <p>ammistadi@uj.edu.sa </p>
                        <p>265 office</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:wmomniya@uj.edu.sa">
                            <h4>
                                a. Amniah Muhammad Wajih
                            </h4>
                        </a>
                        <p>wmomniya@uj.edu.sa</p>
                        <p>
                            127 office
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:wtabozenada@uj.edu.sa"><h4>dr. wad Abu Zinada</h4></a>
                        <p>wtabozenada@uj.edu.sa</p>
                        <p>233 office</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:lmalharthi@uj.edu.sa"><h4> a.Latifa Mubarak Al Harthy</h4></a>
                        <p>lmalharthi@uj.edu.sa</p>
                        <p>249 office</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="img/candiateds/im.png" alt="">
                        </div>
                        <a href="mailto:aahussein@uj.edu.sa"><h4>a. Arwa Abdel Aziz Hussein</h4></a>
                        <p>aahussein@uj.edu.sa</p>
                        <p>260 office</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination_wrap">
                        <ul>
                            <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                            <li><a href="#"><span>01</span></a></li>
                            <li><a href="#"><span>02</span></a></li>
                            <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured_candidates_area_end  -->

{% endblock body %}